@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="~/account/welcome/">Final Steps</a>
    </li>
   @* <li class="nav-item">
        <a class="nav-link" href="~/doctordatapanel/regdoctordata/">Doctor Registration</a>
    </li>*@
</ul>
<br />
<h1>Welcome!</h1>
<h2>Thank you for registration!</h2>
<br />
<p>All your settings are in top left menu</p>
<p>You can manage your short links at <a href="~/userpanel/urlmanager/" class="text-decoration-none">"My Short URLs"</a></p>
<br />
<h2>Good luck!</h2>




