@model LinkInputModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to ShrinkLink!</h1>
    <p class="lead">Our system offers a wide range of possibilities for creating shortened weblinks </p>
    <hr class="my-4">
    <ul class="nav flex-column lead">
        <li class="nav-item">
            <i class="bi bi-check2-circle"></i> Shorten your temporary weblinks without registration
            <br />
        </li>
        <li class="nav-item">
            <i class="bi bi-check2-circle"></i> Simple registration for all customers
            <br />
        </li>
        <li class="nav-item">
            <i class="bi bi-check2-circle"></i> Track your link analytics
            <br />
        </li>
        <li class="nav-item">
            <i class="bi bi-check2-circle"></i> Manage your links
            <br />
        </li>
        <li class="nav-item">
            <i class="bi bi-check2-circle"></i> A variety of tools for administration
            <br />
        </li>
        <li class="nav-item">
            <i class="bi bi-check2-circle"></i> And many other features...
            <br />
        </li>
    </ul>
    <br />
    <div class="row">
    <div class="col-md-4">
      <form asp-controller="Link" asp-action="Shorten" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="URL" class="control-label"><b>Input your long URL</b></label>
            <input asp-for="URL" class="form-control" />
            <span asp-validation-for="URL" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Shorten URL" class="btn btn-primary" />
        </div>
      </form>
    </div>
    </div>

</div>


     

