html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
table.delivery {
    font-size: 14px;
    width: -webkit-fill-available;
    border: 0px;
    border-collapse: separate;
}

    table.delivery thead {
        font-weight: bold;
    }

    table.delivery th {
        padding: 0.6rem 1rem;
        border-bottom: 1px solid #e8e9eb;
        /*border-right: 1px solid #e8e9eb;*/
        text-align: center;
    }

    table.delivery td {
        padding: 0.6rem 1rem;
        border-bottom: 1px solid #e8e9eb;
        /* border-right: 1px solid #e8e9eb;*/
        text-align: center;
        white-space: nowrap;
        min-height: 3em;
    }

    table.delivery th:not(:last-child) {
        border-right: 1px solid #e8e9eb;
    }

    table.delivery td:not(:last-child) {
        border-right: 1px solid #e8e9eb;
    }

@media screen and (max-width: 800px) {
    table.delivery thead {
        display: none;
    }
    /*  table.delivery td label {
        display: none;
    }*/

    table.delivery tr {
        display: block;
        margin-bottom: 1rem;
        border-bottom: 2px solid #e8e9eb;
    }

    table.delivery td {
        display: block;
        text-align: right;
        font-size: 12px;
    }


        table.delivery td:before {
            content: attr(area-label);
            float: left;
            font-weight: bold;
            height: fit-content
        }
}
