@model ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="~/userpanel/accsettingsedit/@Model.Id">Account Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/userpanel/changepassword/@Model.Id">Password Change</a>
    </li>
</ul>
<br />
<h4>Change your password</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="UserPanel" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>

            <div class="form-group">

                @if (Model.OldPwdInfo != null)
                {
                    <label><b>@Model.OldPwdInfo</b></label>
                }
                <label asp-for="OldPassword" class="control-label">Input old password</label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Input new password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="control-label">Confirm new password</label>
                <input asp-for="PasswordConfirmation" class="form-control" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
        @if (Model.SystemInfo != null)
        {
            <div>
                <p><b>@Model.SystemInfo</b></p>
            </div>
        }
    </div>
</div>


@section Footer
    {
    <div>
        <a href="~/userpanel/accsettings/@Model.Id"><h6>&#5130 Back to Settings</h6></a>
    </div>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
