@model ShrinkLinkApp.Models.RedirectLinkModel


@{
    ViewData["Title"] = "Redirection";
}

<div class="jumbotron">
<h1 class="display-4">ShrinkLink URL Shortener</h1>
<p class="lead">Our system offers a wide range of possibilities for creating shortened weblinks </p>
<hr class="my-4">
    <dl class="row">
    
            <dt class="col-sm-5">
                <label asp-for="ShortLink" class="control-label">Your shortened URL</label>
            </dt>
            <dd class="col-sm-10">
                <input name="ShortlLink" type="text" size="45" id="clipboard" value="@Model.LocalURL@Model.ShortLink" readonly />
                <button type="button" class="btn btn-light" onclick="clipcopy()"><i class="bi bi-clipboard-check"></i> Copy ShortURL</button>
            </dd>
        @if (Model.SystemFlag == 1)
        {
                <dt class="col-sm-10">
                    <label class="control-label">Short link expired</label>
                </dt>
        }
        @if (Model.SystemFlag != -1)
        {
            <dt class="col-sm-10">
                <label asp-for="ExpirationDate" class="control-label">ShortURL Expiration Date Time</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExpirationDate)
            </dd>
        }
        @if (Model.SystemFlag == -1)
        {
            <dt class="col-sm-10">
                <label asp-for="SystemInfo" class="control-label">Long URL was not found</label>
                @Html.DisplayFor(model => model.SystemInfo)
            </dt>
        }
        @if (Model.SystemFlag == 10)
        {
            <dt class="col-sm-10">
                <label asp-for="SystemInfo" class="control-label">Some errors occurred. Please, try again later )))</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SystemInfo)
            </dd>
        }

    </dl>
<br />
    <a href="~/Home/Index" class="btn btn-primary" role="button"><i class="bi bi-house"></i> Shorten another URL</a>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/clipboard.js"></script>
}



